@tailwind base;
@tailwind components;
@tailwind utilities;


.highcharts-legend-item text{
  color: white !important;
  fill: white !important;
}

.highcharts-tooltip span {
  opacity: 0.5 !important;
}